.navColor{
background-color: brown;
}
#descripcion{
    text-align:center;
    padding: 2%;
    color:brown;
    margin: 2%;
}

main{
    background-color: brown;
    margin: 2%;
    padding: 3%;
    text-align:left;



}

main .info{
     margin-top: 4%;
    margin-bottom: 2%;
    
}
.infoProyectos{
    padding: 2%;
    Margin-left: 2%;
    margin-right: 5%;
   display: inline-block;
   text-align:center;


}



#uno{
    
}

#dos{
    
}

#tres{
    
}

footer{
    text-align: center;
    background-color: brown;
    color:white;
    margin-top: 15%;
}

/*media queries al final*/
@media(min-width:1200px){
    .col-xl-12{width: 100%;}
    .col-xl-11{width: 91.66666667%;}
    .col-xl-10{width: 83.33333334%;}
    .col-xl-9{width: 75%;}
    .col-xl-8{width: 66.66666667%;}
    .col-xl-7{width: 58.33333334%;}
    .col-xl-6{width: 50%;}
    .col-xl-5{width: 41.66666667%;}
    .col-xl-4{width: 33.33333334%;}
    .col-xl-3{width: 25%;}
    .col-xl-2{width: 16.66666667%;}
    .col-xl-1{width: 8.33333333%;}

}

@media(min-width:992px) and (max-width:1199px){
    .col-lg-12{width: 100%;}
    .col-lg-11{width: 91.66666667%;}
    .col-lg-10{width: 83.33333334%;}
    .col-lg-9{width: 75%;}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.33333334%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.66666667%;}
    .col-lg-4{width: 33.33333334%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667%;}
    .col-lg-1{width: 8.33333333%;}
}

@media(min-width:768px) and (max-width:991px){
    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%;}
    .col-md-10{width: 83.33333334%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333334%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.66666667%;}
    .col-md-4{width: 33.33333334%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}
}




